@use '../../../scss/mixins';

.wrapper {
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 24px rgba(51, 51, 51, 0.24);
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4rem 2.9rem 0;

  .period {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    p {
      color: var(--primary-black);
      font-size: 1.8rem;
      line-height: 1.38;
      font-weight: bold;
      opacity: 0.5;
      transition: opacity 0.4s;
    }

    .checked {
      opacity: 1;
    }
  }

  .pricing_boxes {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem;
    width: 100%;

    @include mixins.breakpoint('lg') {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-top: 4.8rem;
    }
  }

  @include mixins.breakpoint('md') {
    padding: 11.2rem 4rem 0;
  }

  @include mixins.breakpoint('xl') {
    padding-top: 12rem;
  }
}

.compare_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4rem 2.9rem;

  @include mixins.breakpoint('md') {
    padding: 11.2rem 4rem;

    & > div {
      margin-top: 6.4rem;
    }
  }

  @include mixins.breakpoint('xl') {
    padding-block: 16rem;

    & > div {
      margin-top: 5.6rem;
    }
  }
}
